STAGE=QA
PORT=8080
MONGO_URL=mongodb://127.0.0.1:27017/restaurantapp

JWT_SECRET=restaurantapp-sEcrEt
SESSION_SECRET=restaurantapp-sEcrEt

EMAIL_USER = adityarajmgm@gmail.com
EMAIL_PASS = dbqafichejzypruw
SUPPORT_EMAIL = support@restaurantapp.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
