STAGE=QA
PORT=8080
MONGO_URL=mongodb://127.0.0.1:27017/restaurantapp

JWT_SECRET=change-me
SESSION_SECRET=change-me

EMAIL_USER=
EMAIL_PASS=
SUPPORT_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
